<div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listado de Autorizaciones</h3>
               <a routerLink="/dashboard/autorizacion/crearAutorizacion" class="btn btn-primary  pull-right"><i class="fa fa-plus"></i> Crear autorizacion</a>
        </div>

        <div class="box-body">

            <form role="form" autocomplete="off">
                <div class="cuadro_busqueda_mini" >
                        
                    <div class="form-group col-md-3">
                            <label for="email">descripcion:</label>
                            <input type="text" class="form-control"
                                placeholder="Ingrese su Nombre"
                            name="descripcion"  [(ngModel)]="autorizacion.descripcion">
                        </div>
            
                        <div class="form-group col-md-3">
                            <label for="pwd">Tipo Autorizacion:</label>
                            
                            <select name="tipoAutorizacion" class="form-control" [(ngModel)]="autorizacion.tipoAutorizacion">
                                <option value="" selected>Seleccione Estado</option>
                            <option *ngFor="let tipo of tipoAutorizacions" [value]="tipo.id">{{ tipo.fvcnombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="email">Fecha Aplica Autorizacion:</label>
                            <input type="date" class="form-control"
                                placeholder=""
                            name="fechaAplicaAutorizacion"  [(ngModel)]="autorizacion.fechaAplicaAutorizacion">
                        </div>
                        <div class="form-group col-md-3">
                            
                                <button type="submit" style="margin-top: 25px!important"   class="btn btn-primary" (click)="listarTodasLasAutorizaciones(autorizacion)"><i class="fa fa-search"></i> Buscar</button>
                        </div>

                </div>
                

            </form>
            <br><br>


            <table id="posts-table" class="table table-bordered table-striped">
                <thead>
                <tr class="tablas-encabezado">
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Tipo Autorizacion</th>
                    <th>Fecha Aplica</th>
                    <th>Estado</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                
                <tr *ngFor="let autorizacion of autorizaciones | paginate: { itemsPerPage: 20, currentPage: p }">
                    <td>{{ autorizacion.id}}</td>
                    <td>{{ autorizacion.fvcdescripcion}}</td>
                    <td>{{ autorizacion.tipoAutorizacion}}</td>
                    <td>{{ autorizacion.fvcfechaAutorizacion}}</td>
                    <td>{{ autorizacion.fvcestado}}</td>

                    <td>
                        <a routerLink="/dashboard/autorizacion/editarAutorizacion/{{autorizacion.id}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                    </td>

                </tr>
                </tbody>

            </table>

            <pagination-controls  class="espacio-paginacion"
                      (pageChange)="p = $event"
                        previousLabel="Anterior" 
                        nextLabel="Siguiente">
                </pagination-controls>


            <!--<nav>
                <ul class="pagination">
                    <li class="page-item" v-if="pagination.current_page > 1">
                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                    </li>
                </ul>
            </nav>-->
        </div>
        <!-- /.box-body -->
    </div>
</div>