<div>

        <div class="row">
    
            <div class="col-md-8">
    
    
                <div class="box box-primary animated fadeIn faster animated fadeIn faster">
                    <div class="box-header">
                            <a routerLink="/dashboard/sede/listarSede" class="btn btn-primary  pull-right"><i class="fa fa-pencil"></i> Listado usuarios</a>
                    </div>
    
                    <div class="box-body">
                        <form (ngSubmit)="crearSede( f )" #f="ngForm" autocomplete="off" novalidate="">
   
    
                            <!-- NOMBRE-->
                            <div class="form-row " [ngClass]="{'has-error': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }">
                                <div class="form-group col-md-12" >
                                    <div class="col-md-2">
                                        <label for="nombre" >Nombre</label>
                                    </div>
                                    <div class="col-md-10">
    
                                        <input type="text" class="form-control"
                                         placeholder="Ingrese su Nombre"
                                        name="nombre"  [(ngModel)]="sede.nombre"
                                        minlength="3" required
                                        #nombre="ngModel">
    
                                        <div *ngIf="nombre.errors?.required" class="help-block">
                                            El nombre es requerido
                                        </div>
                                        <div *ngIf="nombre.errors?.minlength" class="help-block">
                                            Por lo menos {{ nombre.errors.minlength.requiredLength}} caracteres.
                                        </div>
                                    </div>
                                </div>
                            </div>

    
                            <!-- ESTADO -->
                            <div class="form-row">
                                <div class="form-group col-md-12" >
                                    <div class="col-md-2">
                                        <label>Estado</label>
                                    </div>
                                    <div class="col-md-10">
    
                                        <select name="estado" class="form-control" [(ngModel)]="sede.estado">
    
                                            <option value="" selected>Seleccione Estado</option>
                                            <option value="ACTIVO">ACTIVO</option>
                                            <option value="INACTIVO">INACTIVO</option>
                                        </select>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <div class="col-xs-12">
                                <button [disabled]="!f.valid"  type="submit" 
                                class="btn btn-lg btn-primary btn-block" >Crear sede</button>
                              </div>
    
                            <!--<div v-if="adminUsuario === true || crearUsuario === true" class="justify-content-end">
                                <input type="submit" value="Crear usuario" class="btn btn-primary btn-block" >
                            </div>-->
    
                        </form>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    