<div class="row">

        <div class="col-md-6">
    
            <div class="box box-primary">
                <div class="box-header">
                    <a routerLink="/dashboard/tipoAutorizacion/listarTipoAutorizacion" class="btn btn-primary  pull-right"><i class="fa fa-pencil"></i> Listado TipoAutorizacion</a>
                </div>
    
                <div class="box-body">
                    <form method="POST" (ngSubmit)="actualizarTipoAutorizacion( f )" #f="ngForm"  autocomplete="off">
    
                        <!-- NOMBRE-->
                        <div class="form-row">
                            <div class="form-group col-md-12" >
                                <div class="col-md-2">
                                    <label>Nombre</label>
                                </div>
                                <div class="col-md-10">
    
                                    <input type="text" class="form-control" #nombre="ngModel"
                                    name="nombre" [(ngModel)]="tipoAutorizacion.nombre">
                                </div>
                                <span *ngIf="!nombre.valid && nombre.touched">
                                    error
                                </span>
    
                            </div>
    
                        </div>    
    
                        <!-- ESTADO -->
                        <div class="form-row">
                            <div class="form-group col-md-12" >
                                <div class="col-md-2">
                                    <label>Estado</label>
                                </div>
                                <div class="col-md-10">
    
                                    <select class="form-control"
                                            name="estado" [(ngModel)]="tipoAutorizacion.estado">
    
    
                                        <option selected disabled value="0">Seleccionar...</option>
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
    
                                    </select>

                                </div>
                            </div>    
                        </div>
    
    
                        <div v-if="adminUsuario === true || updateUsuario === true" class="justify-content-end">
                            <input type="submit" value="Actualizar Tipo Autorizacion" class="btn btn-primary btn-block" >
                        </div>
    
                    </form>
    
                </div>
    
            </div>
    
        </div>
    
    </div>