<div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listado de usuarios</h3>
           <!--<router-link :to="{ name: 'userCreate'}">
                <a v-if="adminUsuario === true || crearUsuario ===true" class="btn btn-primary  pull-right"><i class="fa fa-plus"></i> Crear usuarioss</a>-->
               <a routerLink="/dashboard/usuario/crearUsuario" class="btn btn-primary  pull-right"><i class="fa fa-plus"></i> Crear usuario</a>

          <!-- </router-link>-->

        </div>

        <div class="box-body">

                <form role="form" autocomplete="off">
                    <div class="cuadro_busqueda_mini" >

                        <div class="form-group col-md-3">
                            <label for="email">Nombre:</label>
                            <input type="text" class="form-control"
                                placeholder="Ingrese su Nombre"
                            name="nombre"  [(ngModel)]="usuario.nombre">
                        </div>

                        <div class="form-group col-md-3">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" placeholder="Ingrese su Correo"
                                    name="email" [(ngModel)]="usuario.email"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        </div>


                        <div class="form-group col-md-3">
                                <label for="pwd">Sede:</label>
                                
                                <select name="estado" class="form-control" [(ngModel)]="usuario.sede">
                                        <option value="" selected>Seleccione Sede</option>
                                <option *ngFor="let sede of arraySedes" [value]="sede.id">{{ sede.fvcnombre}}</option>
                                </select>
                            </div>
                        <div class="form-group col-md-3">
                            
                                <button type="submit" style="margin-top: 25px!important"   class="btn btn-primary" (click)="listarTodosLosUsuarios(usuario)"><i class="fa fa-search"></i> Buscar</button>
                        </div>
    
                    </div>
                            
                </form>
                <br><br>


            <table id="example2" class="table table-bordered table-striped table-hover animated fadeIn faster animated fadeIn faster">
                <thead>
                <tr class="tablas-encabezado">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Acciones</th>


                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios  | paginate: { itemsPerPage: 20, currentPage: p }">
                        <td>{{ usuario.name}}</td>
                        <td>{{ usuario.email}}</td>
                        <td *ngFor="let rol of usuario.roles">
                        <span >{{ rol.name }}</span>
                        </td>
                        <td>
                            <!--<router-link :to="{ name: 'userEdit', params: {id : usuario.id }} ">
                                <a v-if="adminUsuario === true || editarUsuario ===true " href="" class="btn btn-primary"><i class="fa fa-pencil"></i></a>

                            </router-link>-->

                            <a routerLink="/dashboard/usuario/editarUsuario/{{usuario.id}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>



                        </td>

                    </tr>

                </tbody>

            </table>
            <pagination-controls  class="espacio-paginacion"
                      (pageChange)="p = $event"
                        previousLabel="Anterior" 
                        nextLabel="Siguiente">
                </pagination-controls>
        </div>
        <!-- /.box-body -->
    </div>
</div>