<div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listado de ClasificacionPago</h3>
               <a routerLink="/dashboard/clasificacionPago/crearClasificacionPago" class="btn btn-primary  pull-right"><i class="fa fa-plus"></i> Crear clasificacionPago</a>
        </div>

        <div class="box-body">

            <form role="form" autocomplete="off">
                <div class="cuadro_busqueda_mini" >
                    <div class="form-group col-md-4">
                        <label for="email">Nombre:</label>
                        <input type="text" class="form-control"
                            placeholder="Ingrese su Nombre"
                        name="nombre"  [(ngModel)]="clasificacionPago.nombre">
                    </div>
        
                    <div class="form-group col-md-4">
                        <label for="pwd">Estado:</label>
                        
                        <select name="estado" class="form-control" [(ngModel)]="clasificacionPago.estado">
                            <option value="" selected>Seleccione Estado</option>
                            <option value="ACTIVO">ACTIVO</option>
                            <option value="INACTIVO">INACTIVO</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        
                            <button type="submit" style="margin-top: 25px!important"   class="btn btn-primary" (click)="listarTodasLasClasificaciones(clasificacionPago)"><i class="fa fa-search"></i> Buscar</button>
                    </div>

                </div>
                        
            </form>
            <br><br>


            <table id="posts-table" class="table table-bordered table-striped">
                <thead>
                <tr class="tablas-encabezado"> 
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                
                <tr *ngFor="let clasificacion of clasificacionPagos | paginate: { itemsPerPage: 20, currentPage: p }">
                    <td>{{ clasificacion.id}}</td>
                    <td>{{ clasificacion.fvcnombre}}</td>
                    <td>{{ clasificacion.fvcdescripcion}}</td>
                    <td>{{ clasificacion.fvcestado}}</td>

                    <td>
                        <a routerLink="/dashboard/clasificacionPago/editarClasificacionPago/{{clasificacion.id}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                    </td>

                </tr>
                </tbody>

            </table>
            <pagination-controls  class="espacio-paginacion"
                      (pageChange)="p = $event"
                        previousLabel="Anterior" 
                        nextLabel="Siguiente">
                </pagination-controls>


            <!--<nav>
                <ul class="pagination">
                    <li class="page-item" v-if="pagination.current_page > 1">
                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                    </li>
                </ul>
            </nav>-->
        </div>
        <!-- /.box-body -->
    </div>
</div>