/* You can add global styles to this file, and also import other style files */


/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  /*autocomplete*/
  .ng-autocomplete {
    width:100%; 
    max-width: 600px;
    display: table;
    margin: 0 auto;
  }


  .tablas-encabezado{
    background-color: darkgrey
   }

   /*espacio paginacion*/
   .ngx-pagination{
     margin-top: 1rem!important;
   }

   /* organizarboton buscar */

.boton-buscar{
  padding-bottom: 6px!important;
  margin-bottom: 28px!important;
} 


/*autocomplete*/
.ng-autocomplete {
  width: 295px!important;
}

.ng-autocomplete {
  width: 100%!important;
  max-width: 295px!important;
  display: table;
  margin-left: -2px;
  /* margin: 0 auto; */
}

.autocomplete-container {
  height: 32px!important;
}

.autocomplete-container .input-container input {
  height: 32px!important;
}