<div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Listado de Articulo</h3>
                   <a routerLink="/dashboard/articulo/crearArticulo" class="btn btn-primary  pull-right"><i class="fa fa-plus"></i> Crear articulo</a>
            </div>
    
            <div class="box-body">
    
                <form role="form" autocomplete="off">
                    <div class="cuadro_busqueda" >
                        <div class="form-group col-md-4">
                            <label for="pwd">Categoria:</label>
                            
                            <select name="estado" class="form-control" [(ngModel)]="articulo.categoria_id">
                                    <option value="" selected>Seleccione Categoria</option>
                                    <option *ngFor="let categoria of arrayCategorias" [value]="categoria.id">{{categoria.fvcnombre}} - {{categoria.fvcgenero}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="email">Articulo:</label>
                            <input type="text" class="form-control"
                                placeholder="Ingrese su Nombre"
                            name="nombre"  [(ngModel)]="articulo.nombre">
                        </div>
            
                        <div class="form-group col-md-4">
                            <label for="pwd">Requiere Deposito:</label>
                            
                            <select name="estado" class="form-control" [(ngModel)]="articulo.requiereDeposito">
                                    <option value="" selected>Seleccione Opcion</option>
                                    <option value="SI">SI</option>
                                    <option value="NO">NO</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                                <label for="email">Precio Articulo:</label>
                                <input type="text" class="form-control"
                                    placeholder="Ingrese su Nombre"
                                name="nombre"  [(ngModel)]="articulo.nombre">
                            </div>
                        <div class="form-group col-md-4">
                            
                                <button type="submit" style="margin-top: 25px!important"   class="btn btn-primary" (click)="listarTodosLosArticulos(articulo)"><i class="fa fa-search"></i> Buscar</button>
                        </div>
    
                    </div>
                            
                </form>
                <br><br>
    
    
                <table id="posts-table" class="table table-bordered table-striped">
                    <thead>
                    <tr class="tablas-encabezado">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Requiere Deposito</th>

                        <th>Precio</th>
                        <th>Acciones</th>
    
                    </tr>
                    </thead>
                    <tbody>
                    
                    <tr *ngFor="let articulo of articulos | paginate: { itemsPerPage: 20, currentPage: p }">
                        <td>{{ articulo.id}}</td>
                        <td>{{ articulo.fvcnombre}}</td>
                        <td>{{ articulo.fvcdescripcion}}</td>
                        <td>{{ articulo.flvrequieredeposito }}</td>   
                        <td>{{ articulo.flngvalor }}</td>    
 
                        <td>
                            <a routerLink="/dashboard/articulo/editarArticulo/{{articulo.id}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                        </td>
    
                    </tr>
                    </tbody>
    
                </table>

                <pagination-controls  class="espacio-paginacion"
                      (pageChange)="p = $event"
                        previousLabel="Anterior" 
                        nextLabel="Siguiente">
                </pagination-controls>
    
    
                <!--<nav>
                    <ul class="pagination">
                        <li class="page-item" v-if="pagination.current_page > 1">
                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                        </li>
                        <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                            <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                        </li>
                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                        </li>
                    </ul>
                </nav>-->
            </div>
            <!-- /.box-body -->
        </div>
    </div> 