<div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listado de Orden Servicio</h3>
               <a routerLink="/dashboard/ordenServicio/crearOrdenServicio" class="btn btn-primary  pull-right"><i class="fa fa-plus"></i> Crear Orden Servicio</a>
        </div>

        

        <div class="box-body">

         
                <form role="form" autocomplete="off">
                    <div class="cuadro_busqueda" >

                        <div>

                            <div class="form-group col-md-3">
                                <label for="pwd">Estado</label>
                                
                                <select name="estado" class="form-control" [(ngModel)]="ordenServicio.estado">
                                    <option value="" selected>Todos</option>
                                    <option value="ACTIVO">ACTIVO</option>
                                    <option value="INACTIVO">INACTIVO</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="email">Vendedor</label>
                                <input type="text" class="form-control"
                                    placeholder="Ingrese su Nombre"
                                name="vendedor"  [(ngModel)]="ordenServicio.vendedor">
                            </div>
                
                            <div class="form-group col-md-3">
                                <label for="pwd">Fecha</label>
                                
                                <select name="fecha" class="form-control" [(ngModel)]="ordenServicio.fecha">
                                    <option value="Creacion" selected>Creacion</option>
                                    <option value="Entrega">Entrega</option>
                                    <option value="Prueba">Prueba</option>
                                </select>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="email">Fecha Inicial</label>
                                <input type="date" class="form-control"
                                    placeholder="Ingrese su Nombre"
                                name="fecha_inicial"  [(ngModel)]="ordenServicio.fecha_inicial">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="email">Fecha Final</label>
                                <input type="date" class="form-control"
                                    placeholder="Ingrese su Nombre"
                                name="fecha_final"  [(ngModel)]="ordenServicio.fecha_final">
                            </div>

                        </div>
                        <div>

                                   <div class="form-group col-md-3">
                                        <label for="pwd">Genero</label>
                                        
                                        <select name="genero" class="form-control" [(ngModel)]="ordenServicio.genero">
                                            <option value="" selected>Todos</option>
                                            <option value="ACTIVO">ACTIVO</option>
                                            <option value="INACTIVO">INACTIVO</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="pwd">Confeccion</label>
                                        
                                        <select name="confesion" class="form-control" [(ngModel)]="ordenServicio.confesion">
                                            <option value="" selected>Todos</option>
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="email">Articulo</label>
                                        <input type="text" class="form-control"
                                            placeholder="Ingrese su Nombre"
                                        name="articulo"  [(ngModel)]="ordenServicio.articulo">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="email">Ficha</label>
                                        <input type="text" class="form-control"
                                            placeholder="Ingrese su Nombre"
                                        name="ficha"  [(ngModel)]="ordenServicio.ficha">
                                    </div>
                                    
                                    <div class="form-group col-md-2">                                
                                        <button type="submit" style="margin-top: 25px!important"   class="btn btn-primary btn-block" (click)="listarTodasLasOrdenServicios(ordenServicio)"><i class="fa fa-search"></i> Buscar</button>
                                    </div>

                        </div>
                            
                    </div>
                                                   
                </form>
                    <br><br>

            
            <table id="posts-table" class="table table-bordered table-striped">
                <thead>
                <tr class="tablas-encabezado">
                    <th>Id</th>
                    <th>Factura</th>
                    <th>Ficha</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Telefono</th>
                    <th>Referencia</th>
                    <th>Confección</th>
                    <th>Vendedor</th>
                    <th>Telefono R.</th>
                    <th>Fecha(E)</th>
                    <th>Fecha(R)</th>
                    <th>Total</th>
                    <th>Saldo</th>
                    <th>Detalle</th>
                    
                   <!-- <th>Acciones</th>-->

                </tr>
                </thead>
                <tbody>

                
                <tr *ngFor="let orden of ordenes | paginate: { itemsPerPage: 30, currentPage: p }; let i = index ">
                    <td>{{ orden.i}}</td>
                    <td>{{ orden.id}}</td>
                    <td>{{ orden.fvcficha}}</td>
                    <td>{{ orden.created_at}}</td>

                    <td>{{ orden.fvccliente_id}}</td>
                    <td>sin info</td>
                    <td>sin info</td>
                    <td>{{ orden.fvcconfesion}}</td>


                    <td>{{ orden.fvcvendedor_id}}</td>
                    <td>sin info</td>
                    <td>{{ orden.fdtfechaentrega }}</td>
                    <td>{{ orden.fdtfecha}}</td>

                    <td>{{ orden.flngvalor}}</td>
                    <td>sin info</td>
                    <td>{{ orden.fvcobservacion}}</td>

                    <!--<td>
                        <a routerLink="/dashboard/ordenServicio/editarOrdenServicio/{{orden.id}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                    </td>-->

                </tr>
                </tbody>

            </table>

            <pagination-controls  class="espacio-paginacion"
                    (pageChange)="p = $event"
                    previousLabel="Anterior" 
                    nextLabel="Siguiente">
            </pagination-controls>

        </div>
        <!-- /.box-body -->
    </div>
</div>